
.i18n-ts {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	gap: 0.4rem;

	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
}

.i18n-ts + .i18n-ts {
	margin-top: 1.5rem;
}

.i18n-ts-id {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	opacity: 0.5;
	justify-self: end;
}

.i18n-ts-id,
.i18n-ts-default-value {
	font-weight: bold;
}

.i18n-ts-default-value {
	grid-row: 1 / 2;
	grid-column: 2 / 4;
}

.i18n-ts-lang-name {
	grid-column: 2 / 3;
	justify-self: stretch;
	padding: 0 0.4rem;
	text-align: center;

	background-color: var(--vscode-badge-background);
	border-radius: 2px;
}

.i18n-ts-lang-value {
	grid-column: 3 / 4;

	color: inherit;
	background-color: inherit;
	background: inherit;

	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;

	resize: none;

	white-space: pre-wrap;
	word-wrap: break-word;
}

.i18n-ts-last-modified {
	grid-column: 4 / 5;
	opacity: 0.5;
}
